.icon-button {
  display: inline-flex;
  align-items: center;
  gap: var(--space-small);
  background-color: var(--brand-1);
  color: var(--brand-surface);
  font-family: var(--font-brand);
  border-radius: var(--radius-small);
  padding: var(--space-small) var(--space-medium);

  mat-icon {
    font-size: var(--fs-body);
  }

  &:hover {
    background-color: var(--brand-2);
  }
}
