.badge-tag {
  display: inline-block;
  background-color: var(--brand-2);
  color: var(--brand-surface);
  padding: var(--space-small) var(--space-medium);
  font-size: var(--fs-small);
  font-family: var(--font-plain);
  border-radius: var(--radius-small);
}
