@use "@angular/material" as mat;

@include mat.core();

$theme-elegant-base: mat.define-theme(
  (
    color: (
      theme-type: light,
      use-system-variables: true,
    ),
  )
);

.theme-elegant {
  @include mat.all-component-themes($theme-elegant-base);

  --brand-1: #14248a;
  --brand-2: #1f7a8c;
  --brand-bg: #e9f1f7;
  --brand-surface: #efffff;
  --brand-ink: #1e1b18;

  background-color: var(--brand-bg);
  color: var(--brand-ink);
}

.theme-light {
  @include mat.all-component-themes(
    mat.define-theme(
      (
        color: (
          theme-type: light,
          use-system-variables: true,
        ),
      )
    )
  );

  --brand-1: #ffffff;
  --brand-2: #effffa;
  --brand-3: #e5ecf4;
  --brand-4: #2ca6a4;
  --brand-5: #668f80;
}

.theme-dark {
  @include mat.all-component-themes(
    mat.define-theme(
      (
        color: (
          theme-type: dark,
          use-system-variables: true,
        ),
      )
    )
  );

  --brand-1: #30292f;
  --brand-2: #413f54;
  --brand-3: #5f5aa2;
  --brand-4: #355691;
  --brand-5: #3F4045;
}

.theme-pop {
  @include mat.all-component-themes(
    mat.define-theme(
      (
        color: (
          theme-type: light,
          use-system-variables: true,
        ),
      )
    )
  );

  --brand-1: #04e762;
  --brand-2: #ffc857;
  --brand-3: #dc0073;
  --brand-4: #008bf8;
  --brand-5: #89fc00;
}
